<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Drawing with canvas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background: black;">
    <div id="titleBox" style="background: darkslateblue;">
        <h1>
            Hand writing sheet
        </h1>
    </div>

    <%- include("./components/navbarAnimations.ejs",{style: 'darkslateblue;'}) %> 
    

    <div id="content">
        <div id="description">To write, leftclick and move your mouse on the screen, inside the border</div>
        <div>
            <canvas id="canvas"></canvas>
        </div>
    </div>






   
    <script src="/CanvasFiles/Hand_writing_sheet.js"></script>
</body>

</html>